@model IEnumerable<TiendaSoftware1.Models.Producto>

<!DOCTYPE html>
<html>
<head>
    <title>Productos Nintendo</title>
</head>
<body>
    <h1>Productos Nintendo</h1>

    @if (!Model.Any())
    {
        <p>No hay productos disponibles en esta categoría.</p>
    }
    else
    {
        <ul>
            @foreach (var producto in Model)
            {
                <li>
                    <h2>@producto.Nombre</h2>
                    <p>@producto.Descripcion</p>
                    <p>Precio: @producto.Precio</p>
                    <p>Stock: @producto.Stock</p>
                    <p>Fecha de Lanzamiento: @(producto.FechaLanzamiento.HasValue ? producto.FechaLanzamiento.Value.ToDateTime(TimeOnly.MinValue).ToString("dd/MM/yyyy") : "N/A")</p>

                    <img src="@Url.Content(producto.ImagenUrl)" alt="@producto.Nombre" />

                </li>
            }
        </ul>
    }
</body>
</html>
